img{
    margin: 0px auto;
    display: block;
    border-radius: 200px;
    height: 150px;
    width: 150px;
}
body{
    background-image: url("../LinksTree/Fundo_site-ConversImagem.jpg");
    background-position: center;
    height: 150px;
    width: 150px;
    

}
h1 {
    text-align: center;
    display: block;
    font-family: Helvetica;
}
h2{
    text-align: center;
    display: block;
    font-family: Helvetica;
}
